.gradle
build
bin
classes
.settings
.classpath
.project

/jwala-webapp/src/main/webapp/gen
/jwala-services/logs/PropertiesStore
/jwala-webapp/node_modules
.idea/
*.iml
*.iws
_windows
web-browsers.xml
debugger.xml
diff.xml
IntelliLang.xml
debugger.renderers.xml
editor.xml
find.xmlgradle.run.settings.xml
/inspection
gradle.run.settings.xml
ui.lnf.xml
/gradle/wrapper/gradle-wrapper.properties
mavenVersion.xml
markdown_navigator.shared.xml
mavenVersion.xml
multimarkdown.shared.xml
find.xml
.DS_Store
