.jvm-config-table-type-container {
    width:1074px;
}

.jvmStatusUrl {
    color: gray;
    padding: 0 0 3px 0;
}

.JvmForm .groupListMsg {
    color: gray;
    width: 325px;
}

input.jvmStatusPath {
    width: 305px;
}

.JvmConfig.msg {
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 500px;
}