div.login-area {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -137px;
    margin-left: -175px;
    padding-bottom: 15px;
    font-family: arial,sans-serif;
    font-size: 12px;
    border: 1px #888888 solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 300px;
    height: auto;
    text-align: center;
    -moz-box-shadow: 0px 0px 20px 1px #e6e6e6;
    -webkit-box-shadow: 0px 0px 20px 1px #e6e6e6;
    box-shadow: 0px 0px 20px 1px #e6e6e6
}

.margin-left-17px {
    margin-left: 17px;
}

.title {
    font-size: 24px;
    font-weight: bold
}

.login-error-msg > span {
    color: red;
    font-style: italic
}

.gear-position {
    position: absolute;
    left: 65px;
    margin-top: 2px
}

.LoginDialogBox .status {
    padding-top: 10px;
    height: 25px;
}