div.main-area {
    width: 1100px; /* Copy EPM header width which is 1100px */
    height: auto;
    text-align: left;
    margin: 0 auto;
}

.banner-logout {
    float:right;
    margin-right:5px;
}

.main-area-table {
    width:100%;
}

.banner-container {
    border-style: none !important;
    height:99px;
    display:block;
}

.banner-title {
    top:30px;
    font-size:50px;
    position:absolute;
    width:1100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align:center;
    letter-spacing: 6.4px;
}