div.main-area {
    width: 1100px; /* Copy EPM header width which is 1100px */
    height: auto;
    text-align: left;
    margin: 0 auto;
}

.banner-logout {
    float:right;
    margin-right:5px;
}

.association-name {
    position: relative;
    top: 80px;
	float:right;
    margin-right:-30px;
}

.main-area-table {
    width:100%;
}

.banner-container {
    border-style: none !important;
    height:99px;
    display:block;
}

.banner-title {
    top:30px;
    font-size:50px;
    position:absolute;
    width:1100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align:center;
    letter-spacing: 6.4px;
}

.AppBusyScreen {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
    z-index:999;
}

.AppBusyScreen > .busyAnimation {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: url(../../img/gears.svg) no-repeat center center;
}

.AppBusyScreen > .grayOutCover {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: gray;
    opacity: .2;
}

.AppBusyScreen.show {
    display: block !important;
}

