.status-label {
    display: inline-block;
    height: 18px;
    margin-top: 4px;
    margin-right: 15px;
}

.dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border: none;
}

.dot.started {
    background: #5CD254;
}

.dot.partial {
    background: #FFD200;
}

.dot.stopped {
    background: gray;
}

.dot.error {
    background: red;
}