.webserver-config-table-type-container {
    width:1074px;
}

.webServerStatusUrl {
    color: gray;
    padding: 0 0 3px 0;
}

.WebServerConfig.msg {
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 500px;
}