.rsplitter.container {
    width: 100%;
    height: 100%;
}

.rsplitter.childContainer {
    position: relative;
    overflow: hidden;
}

.rsplitter.container.horz {
    display: table;
    position: absolute;
}

.rsplitter.childContainer.horz {
    display: table-cell;
    overflow: hidden;
}

/* Divider for horizontal oriented RSplitter component */
.vert-divider {
    border-left: 1px solid rgb(192, 192, 192);
}

/* Divider for vertical oriented RSplitter component */
.horz-divider {
    border-top: 1px solid rgb(192, 192, 192);
}

.rsplitter.container.vert {
    overflow: hidden;
}

.w-resize {
    cursor: w-resize;
}

