.root-node-ul {
    padding: 0 0 0 4px;
}

.rtreelist-list {
    list-style-type: none;
    padding-left: 10px;
    white-space: nowrap;
}

.rtreelist-list-item {
    list-style-type: none;
}

.rtreelist-list-item.no-children {
     margin: 4px 0 4px 17px;
}

span.rtreelist-list-item {
    cursor: pointer;
    margin: 4px 0 4px 0;
    white-space: nowrap;
}

img.expand-collapse-padding {
    padding-right: 5px;
}

.RTreeList .ui-state-focus {
    margin: 0 !important;
    cursor: pointer;
    font-weight: normal !important;
}

.RTreeList .ui-state-active {
    margin: 0 !important;
    font-weight: normal !important;
}

.ext-properties-container {
    margin: 5px 0px -10px 16px;
    cursor: pointer;
}