table.adj-col {
    table-layout: fixed !important;
    border-collapse: collapse !important;
}

table.adj-col th {
    border-left: 1px solid rgb(230, 230, 230) !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    padding: 3px 18px 3px 3px !important;
}

table.adj-col td {
    border-left: 1px solid rgb(230, 230, 230);
    overflow: hidden !important;
    white-space: nowrap !important;
    padding-right: 1px !important;
}

.resize-col-cursor {
    cursor: col-resize !important;
}
